In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('heart_2022_no_nans.csv')
data.columns

Index(['State', 'Sex', 'GeneralHealth', 'PhysicalHealthDays',
       'MentalHealthDays', 'LastCheckupTime', 'PhysicalActivities',
       'SleepHours', 'RemovedTeeth', 'HadHeartAttack', 'HadAngina',
       'HadStroke', 'HadAsthma', 'HadSkinCancer', 'HadCOPD',
       'HadDepressiveDisorder', 'HadKidneyDisease', 'HadArthritis',
       'HadDiabetes', 'DeafOrHardOfHearing', 'BlindOrVisionDifficulty',
       'DifficultyConcentrating', 'DifficultyWalking',
       'DifficultyDressingBathing', 'DifficultyErrands', 'SmokerStatus',
       'ECigaretteUsage', 'ChestScan', 'RaceEthnicityCategory', 'AgeCategory',
       'HeightInMeters', 'WeightInKilograms', 'BMI', 'AlcoholDrinkers',
       'HIVTesting', 'FluVaxLast12', 'PneumoVaxEver', 'TetanusLast10Tdap',
       'HighRiskLastYear', 'CovidPos'],
      dtype='object')

In [3]:
data_selected = data[['State','GeneralHealth', 'PhysicalActivities', 'SleepHours', 'HadHeartAttack', 'HadAngina', 'HadStroke',
                      'HadAsthma','HadSkinCancer', 'HadCOPD', 'HadDepressiveDisorder', 'HadKidneyDisease', 'HadArthritis',
                      'HadDiabetes', 'DeafOrHardOfHearing', 'BlindOrVisionDifficulty', 'SmokerStatus', 'ECigaretteUsage',
                      'AgeCategory', 'WeightInKilograms', 'BMI', 'AlcoholDrinkers']]

data_selected.nunique()

State                        54
GeneralHealth                 5
PhysicalActivities            2
SleepHours                   23
HadHeartAttack                2
HadAngina                     2
HadStroke                     2
HadAsthma                     2
HadSkinCancer                 2
HadCOPD                       2
HadDepressiveDisorder         2
HadKidneyDisease              2
HadArthritis                  2
HadDiabetes                   4
DeafOrHardOfHearing           2
BlindOrVisionDifficulty       2
SmokerStatus                  4
ECigaretteUsage               4
AgeCategory                  13
WeightInKilograms           516
BMI                        3514
AlcoholDrinkers               2
dtype: int64

### 4. What regions of the US are more/less at risk for heart disease?

In [4]:
final_data = data_selected[['State', 'HadHeartAttack', 'HadAngina']]
heartattack_counts = final_data['HadHeartAttack'].value_counts()
angina_counts = final_data['HadAngina'].value_counts()

print(heartattack_counts)
print(angina_counts)

No     232587
Yes     13435
Name: HadHeartAttack, dtype: int64
No     231069
Yes     14953
Name: HadAngina, dtype: int64

In [7]:
final_data.head()

     State HadHeartAttack HadAngina
0  Alabama             No        No
1  Alabama             No        No
2  Alabama             No        No
3  Alabama             No        No
4  Alabama             No        No

In [25]:
count_heartattack = final_data.groupby(['State', 'HadHeartAttack']).size().reset_index(name='Count')
pivot_heartattack = count_heartattack.pivot(index='State', columns='HadHeartAttack', values='Count').fillna(0)
pivot_heartattack

HadHeartAttack           No  Yes
State
Alabama                1778  124
Alaska                 3040  165
Arizona                5103  359
Arkansas               2696  244
California             4882  214
Colorado               4949  210
Connecticut            4823  230
Delaware               2047  108
District of Columbia   1666   59
Florida                6758  557
Georgia                4702  276
Guam                   1470   79
Hawaii                 5347  249
Idaho                  3302  166
Illinois               2499  108
Indiana                5163  339
Iowa                   5401  271
Kansas                 5814  331
Kentucky               2255  158
Louisiana              2831  179
Maine                  5588  425
Maryland               8669  496
Massachusetts          5218  247
Michigan               5069  301
Minnesota              8765  396
Mississippi            2305  133
Missouri               3952  243
Montana                4025  239
Nebraska               4763  344
Nevada                 1658  111
New Hampshire          3508  248
New Jersey             3805  162
New Mexico             2780  188
New York               8507  416
North Carolina         2424  127
North Dakota           2360  138
Ohio                   8406  589
Oklahoma               2753  188
Oregon                 2906  143
Pennsylvania           2592  137
Puerto Rico            3419  170
Rhode Island           2946  166
South Carolina         5173  298
South Dakota           4111  294
Tennessee              2548  177
Texas                  6982  426
Utah                   5146  227
Vermont                4594  251
Virgin Islands          718   25
Virginia               5256  309
Washington            14299  701
West Virginia          2728  246
Wisconsin              5799  327
Wyoming                2289  121

In [30]:
yes_heartattack = final_data[final_data['HadHeartAttack'] == 'Yes']
yes_heartattack_angina = yes_heartattack[yes_heartattack['HadAngina'] == 'Yes']
# yes_heartattack_angina_grouped = yes_heartattack_angina.groupby(['State','HadHeartattack','HadAngina']).size().reset_index(name='Count')

In [14]:
count_angina = final_data.groupby(['State', 'HadAngina']).size().reset_index(name='Count')
pivot_angina = count_angina.pivot(index='State', columns='HadAngina', values='Count').fillna(0)
pivot_angina

HadAngina                No  Yes
State
Alabama                1722  180
Alaska                 3049  156
Arizona                5117  345
Arkansas               2665  275
California             4895  201
Colorado               4970  189
Connecticut            4792  261
Delaware               2004  151
District of Columbia   1664   61
Florida                6697  618
Georgia                4646  332
Guam                   1461   88
Hawaii                 5332  264
Idaho                  3306  162
Illinois               2478  129
Indiana                5101  401
Iowa                   5363  309
Kansas                 5765  380
Kentucky               2234  179
Louisiana              2808  202
Maine                  5579  434
Maryland               8598  567
Massachusetts          5191  274
Michigan               5032  338
Minnesota              8673  488
Mississippi            2272  166
Missouri               3913  282
Montana                4040  224
Nebraska               4720  387
Nevada                 1646  123
New Hampshire          3499  257
New Jersey             3763  204
New Mexico             2779  189
New York               8412  511
North Carolina         2421  130
North Dakota           2342  156
Ohio                   8332  663
Oklahoma               2735  206
Oregon                 2896  153
Pennsylvania           2585  144
Puerto Rico            3408  181
Rhode Island           2929  183
South Carolina         5101  370
South Dakota           4130  275
Tennessee              2518  207
Texas                  6958  450
Utah                   5151  222
Vermont                4575  270
Virgin Islands          727   16
Virginia               5194  371
Washington            14178  822
West Virginia          2702  272
Wisconsin              5716  410
Wyoming                2285  125